.main_navbar{
    padding: 50px;
    z-index: 11;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.main_navbar div:nth-child(3){
    display: flex;
    gap: 10px;
}
  
.select_currency select{
    font-size: 20px;
    border: 0px;
    outline: 0px;
}
  
/* CURRENCY SELECT DROPDOWN */

.currency_select{
    border: none;
    font-size: 20px;
}

.currency_select select:focus{
    width: auto;  
    
}
.currency_select select{
    text-align: center;
    font-size: 30px;

}



/* MENU TAB UNDERLINE ANIMATION */
.wrapper{
    display: flex;
    justify-content: flex-start;
}

.wrapper a{
    font-family: 'Raleway';
    font-style: normal;
    font-size: 20px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    position: relative;
    padding: 10px;
}

.wrapper a:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #56E381;
    bottom: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.25s linear;
}

.wrapper a:focus:after{
    transform-origin: bottom left;
    transform: scaleX(1);

}
  
.main_cart_section{
    position: relative;
}
  
.cart_icon{
    width: 1.5rem;
}

.cart_badge{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 20px;
    background-color: black;
    color: white;
    font-size: 16px;
    transform: translate(45%, -60%);
}
  /***************************/
  
  /* CARD STYLES */

.card_section{
    padding: 50px;
    padding-top: 140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 50px;
}

.card_main{
    padding: 10px;
    position: relative;
    transition: 0.3s;
}
  
.card_main:hover {
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
}

.card_main label p:first-child{
    color:#7F7F81

}

.card_main label p:last-child {
    color: #1D1F22;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;
}
  
.product_img{
    width: 400px;
    height:400px;
    object-fit:fill;
}
  
.card_main img:nth-last-child(1){
    width: 5rem;
    position: absolute;
    display: none;
    right: 0;
    bottom: 0;
    transform: translate(-10%, -110%);
} 
  
.card_main:hover img:nth-last-child(1){
    display: block;
}
  
.card_main label > p:first-child{
    font-size: 20px;
    color: rgb(97, 94, 94);
    
}
  
  /* ************************** */
  
.link_item{
    text-decoration: none;
}
