body{
  padding: 20px;
}
body main{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}





body main div:nth-child(3){
  padding: 10px;
  display: flex;
  gap: 10px;
}

body main div:nth-child(3) form select {
  font-size: 20px;
  border: 0px;
  outline: 0px;
}


/* MENU TAB UNDERLINE ANIMATION */


body main nav{
  padding: 10px;
  display: flex;
  font-size: 20px;
  gap: 10px;

  background: #FFF;
  position: relative;
  height:50px;
  display: flex;
}

body main nav a {
  background: #FFF;
  display: block;
  text-decoration: none;
  transition: .4s;
  color: black;
}

body .effect {
  position: absolute;
  transition: 0.3s ease-in-out;
  transform: translateX(-30%);
}

body nav a:nth-child(1):target ~ .effect {
  left: 16.66%;
}

body nav a:nth-child(2):target~ .effect {
  left: 49.99%;
}

body nav a:nth-child(3):target ~ .effect {
  left: 83.33%;
}
 body .ph-line-nav .effect {
  width: 50px;
  height: 2px;
  bottom: 5px;
  background: #56E381;
}

/***************************/

/* CARD STYLES */

body section .card {
  margin-top: 100px;
  transition: 0.3s;
  width: 25%;
}

body section  .card:hover {
  box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.2);
}

body section .container {
  padding: 2px 16px;
}

/* ************************** */


body section {
  display: flex;
  justify-content: center;
  gap: 20px;
}


.hide{
  display: none;
  position: relative;
  right: 100px;
  top: 170px;
}

.card:hover + .hide{
  display: block;
}
