
.darkBg {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 10;
  top: 0;
  left: 0;
}

.centered {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-50%, 15%);
  z-index: 10;
}

.modal {
  width: 350px;
  max-height: 500px;
  overflow-y: scroll;
  background: white;
}
  
.heading {
  margin: 0;
  padding: 10px;
  color: #2c3e50;
  font-weight: 500;
  font-size: 18px;
  text-align: left;
}

.modalBody {
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  gap: 10px;
}

.selectedSize {
  background-color: black !important;
  color: white;
}

.selectedColor{
  border: 2px solid green !important;
}

.row1{
  display: flex;
  padding: 10px;
  font-size: 14px;
  color: #2c3e50;
  gap: 10px;
}

.row1 img{
  object-fit: contain;
  width: 40%;
}

.row1Child p:nth-child(2){
  font-weight: bold;
}

.row1Child p:nth-child(4){
  display: flex;
  gap: 5px;
}

.size_btns{
  display: flex;
  gap: 10px;

}

.size_btns button{
  width: auto;
  height: 25px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: white;
  border: 1px solid black;
}

.color_btns{
  display: flex;
}

.color_btns button{
  width: 20px;
  height: 20px;
  background-color: white;
  border: 1px solid black;
  margin-right: 10px;
}

.row2Child{
  position: relative;
  text-align: center;
  font-weight: bold;
}

.colorPick{
  display: flex;
  gap: 5px;
}

.colorPick div{
  border: 1px solid black;
  width: 18px;
  height: 18px;
}

.row2Child p{
  position: absolute;
  top: 95px;
  left: 10px;
}

.row2Child button:first-child{
  width: 25px;
  height: 25px;
  background-color: white;
  border: 1px solid black;
}

.row2Child button:last-child{
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 0;
  right: 1px;
  background-color: white;
  border: 1px solid black;
}



.totalCheckout{
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.totalCheckout p{
  font-weight: bold;
  color: black;
}

.actionsContainer {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.viewBtn {
  margin-top: 10px;
  cursor: pointer;
  font-weight: 500;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: black;
  border: 1px solid black;
  background: #fff;
  transition: all 0.25s ease;
}

.viewBtn:hover {
  box-shadow: 0 10px 20px -10px #fff;
  transform: translateY(-5px);
  background: #fff;
}

.checkoutBtn {
  margin-top: 10px;
  cursor: pointer;
  padding: 11px 28px;
  font-size: 0.8rem;
  border: none;
  color: #fff;
  border: 1px solid rgb(63, 211, 63);
  background: rgb(63, 211, 63);
  transition: all 0.25s ease;
}

.checkoutBtn:hover {
  box-shadow: 0 10px 20px -10px #fff;
  transform: translateY(-5px);
  background: rgb(63, 211, 63);
}



